In [19]:
from pyspark.sql import SQLContext
from pyspark.sql.types import *
import pyspark
from pyspark.sql import Row
import csv
sql_c = SQLContext(sc)

In [24]:
df = sql_c.read.csv('./axisdata.csv', header=True, inferSchema=True)

In [26]:
df.show(5)

+-------+---------+------+------------+-------------+----------------+---------+
|  Fname|    Lname|Gender|Hours Worked|SalesTraining|Years Experience|Cars Sold|
+-------+---------+------+------------+-------------+----------------+---------+
|   Jada| Walters |     F|          39|            N|               3|        2|
| Nicole|Henderson|     F|          46|            N|               3|        6|
|  Tanya|    Moore|     F|          42|            Y|               4|        6|
|Ronelle|  Jackson|     F|          38|            Y|               5|        3|
|   Brad|    Sears|     M|          33|            N|               4|        2|
+-------+---------+------+------------+-------------+----------------+---------+
only showing top 5 rows

In [27]:
df.columns

['Fname',
 'Lname',
 'Gender',
 'Hours Worked',
 'SalesTraining',
 'Years Experience',
 'Cars Sold']

In [28]:
len(df.columns)

7

In [29]:
df.count()

999

In [32]:
print((df.count()), (len(df.columns)))

999 7

In [33]:
df.printSchema()

root
 |-- Fname: string (nullable = true)
 |-- Lname: string (nullable = true)
 |-- Gender: string (nullable = true)
 |-- Hours Worked: integer (nullable = true)
 |-- SalesTraining: string (nullable = true)
 |-- Years Experience: integer (nullable = true)
 |-- Cars Sold: integer (nullable = true)

In [35]:
df.select('FName', 'LName').show(5)

+-------+---------+
|  FName|    LName|
+-------+---------+
|   Jada| Walters |
| Nicole|Henderson|
|  Tanya|    Moore|
|Ronelle|  Jackson|
|   Brad|    Sears|
+-------+---------+
only showing top 5 rows

In [36]:
df.describe().show(5)

+-------+-----+-------+------+------------------+-------------+------------------+------------------+
|summary|Fname|  Lname|Gender|      Hours Worked|SalesTraining|  Years Experience|         Cars Sold|
+-------+-----+-------+------+------------------+-------------+------------------+------------------+
|  count|  999|    999|   999|               999|          999|               999|               999|
|   mean| null|   null|  null|33.727727727727725|         null| 3.026026026026026|3.9229229229229228|
| stddev| null|   null|  null|  8.22345379549221|         null|1.3947091993763343|1.5269998435197307|
|    min|Aaron|  Adams|     F|                20|            N|                 1|                 1|
|    max|india|Withers|     M|                48|            Y|                 5|                 7|
+-------+-----+-------+------+------------------+-------------+------------------+------------------+